version: "3.0"
services:
  api:
    build:
      context: ./api
    depends_on:
      - database
    volumes:
      - ${API_BACKEND_PATH}:/usr/src/app
    command: npm start
    ports:
      - "${API_PORT}:${API_PORT}"
  database:
    image: postgres:10.4
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
